<div class="table-container">
  <label for="search">Buscar por país:</label>
  <input id="search" type="text" [(ngModel)]="searchPais" placeholder="Escribe un país..." />

  <table>
    <thead>
      <tr>
        <th>País</th>
        <th>Denominación</th>
        <th>Periodo de emisión</th>
        <th>Leyenda Anverso</th>
        <th>Leyenda Reverso</th>
        <th>Diseño Reverso</th>
      </tr>
    </thead>
    <tbody>
<tr *ngFor="let moneda of monedasFiltradas">
  <td>{{  moneda.pais}} </td>
  <td>{{ moneda.denominacion }}</td>
  <td>{{ moneda.periodoDeEmision }}</td>
  <td>{{ moneda.leyendaAnverso || '-' }}</td>
  <td>{{ moneda.leyendaReverso || '-' }}</td>
  <td>{{ moneda.disenoReverso || '-' }}</td>
</tr>
    </tbody>
  </table>
</div>
