<div class="table-container">
  <label for="search">Buscar:</label>
  <input id="search" type="text" [(ngModel)]="searchPais" placeholder="Busca por país, moneda o año..." />
<button mat-raised-button color="primary">Basic</button>  
  <table>
    <thead>
      <tr>
        <th>País</th>
        <th>Denominación</th>
        <th>Periodo de emisión</th>
        <th>Leyenda Anverso</th>
        <th>Leyenda Reverso</th>
        <th>Diseño Reverso</th>
        <th>Enlace</th>
      </tr>
    </thead>
    <tbody>
<tr *ngFor="let moneda of monedasFiltradas">
  <td>{{ moneda.pais }}</td>
  <td>{{ moneda.denominacion }}</td>
  <td>{{ moneda.periodoDeEmision }}</td>
  <td>{{ moneda.leyendaAnverso || '-' }}</td>
  <td>{{ moneda.leyendaReverso || '-' }}</td>
  <td>{{ moneda.disenoReverso || '-' }}</td>
  <td><a [href]="getCoinUrl(moneda)" target="_blank" rel="noopener">Ver en uCoin</a></td>
</tr>
    </tbody>
  </table>
</div>
